body {
	background: rgb(34, 193, 195);
	background: radial-gradient(
		circle,
		rgba(34, 193, 195, 1) 0%,
		rgba(55, 81, 165, 0.7698335913312694) 100%,
		rgba(65, 31, 152, 0.7512577399380804) 100%
	);
	text-align: center;
	margin: 0 auto;
	max-width: 1000px;
	min-width: 360px;
	font-family: Arial, Helvetica, sans-serif;
	letter-spacing: 0.03rem;
}

fieldset {
	margin: 20px;
	border-radius: 9px;
}

figure {
	width: 75%;
	margin-left: auto;
	margin-right: auto;
}

figcaption {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0.5rem;
}

h1 {
	font-size: 30px;
}

h2 {
	font-size: 25px;
}

section h1,
section h2,
section p {
	margin: 7px;
}

a {
	color: black;
}

a:hover {
	color: white;
}
a:active {
	color: rgb(192, 211, 250);
}

.img-hover:hover {
	transform: scale(1.01);
	box-shadow: 0 0px 6px 4px rgba(192, 211, 250);
}

img {
	max-width: 440px;
	width: 100%;
	margin: 0.5rem auto;
	box-shadow: 0 0 3px 3px rgb(192, 211, 250);
	border-radius: 9px;
}

.marcusPhoto {
	width: 80%;
}
/* FOOTER */

footer {
	margin-top: -15px;
}
